@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Montserrat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Commissioner", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #f7f7f7f7;
}

.hero-desktop {
  background-image: url(./assets/images/image-hero-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.navbar {
  width: 100%;
  color: #ffffff;
  /* padding-top: 0px; */
  margin: auto;
}

ul li {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  cursor: pointer;
}

.logo {
  margin: 25px;
}

.content {
  min-height: 250px;
  background: hsl(0, 0%, 100%);
  padding: 50px;
  border-radius: 10px;
  top: 12rem;
  position: absolute;
}

/* Mastercraft */
.header {
  text-align: center;
  font-weight: bold;
}

.p-text {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  text-align: center;
}

.p-text1 {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  text-align: center;
}

.btn {
  border-radius: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.img-bookmark {
  height: auto;
  width: 35px;
}

/* statistics */
.content-statistics {
  min-height: 200px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
  top: 10rem;
}

.statistics-header {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.stats-header {
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
}

/* About */
.content-about {
  justify-content: center;
  overflow: auto;
  min-height: 150px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
  top: 12rem;
}

.about-header {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.about-text {
  text-align: left;
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  line-height: 2rem;
}

/* bamboo stand */
.bamboo-stand {
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 10px;
  margin-top: 25px;
  min-height: 200px;
  padding: 1rem;
}

.bamboo-header {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
}

.bamboo-text {
  font-size: 16px;
  margin-top: 40px;
  text-align: right;
  color: hsl(176, 50%, 47%);
}

.span-p-text {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  text-align: center;
  padding: 0.5rem;
}

.flex-container {
  display: flex;
  justify-content: left;
}

/* BackProject Open Modal */
.Backproject {
  justify-content: center;
  overflow: auto;
  min-height: 150px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
}
